/*   砖转 专 住专 专 */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*  转转 转专转 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

/*  转转 拽住 */
mat-form-field {
  width: 100%; /*  砖转转 砖专 转 专 */
  margin-bottom: 15px; /* 专  转转 */
}

/*  驻转专  */
.login-button {
  width: 100%; /* 砖驻转专 拽 转  专 砖 转 */
  margin-top: 15px; /* 专 拽 转转 拽住 */
}