.sidebar {
  width: 260px;
  background: #1c1c1c !important;
  color: white !important;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

/*  砖转 砖专 转拽 */
mat-sidenav-content {
  transition: margin-left 0.3s ease-in-out;
  padding: 20px;
}

/* 砖住专 驻转 */
.sidebar-container mat-sidenav-content {
  margin-left: 260px;
}

/* 砖住专 住专 */
.sidebar-container.mat-drawer-content {
  margin-left: 0 !important;
  justify-content: center;
}
/*   砖驻转专 爪 住专 */
.toggle-sidebar-btn {
  position: fixed;
  top: 20px;
  left: 270px; /*   砖 住 转 拽住 */
  width: 50px;
  height: 50px;
  background: #6200ea;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: left 0.3s ease;
  z-index: 2000;
}

/*  砖住专 住专 - 驻转专 专 砖 */
.sidebar.closed + .toggle-sidebar-btn {
  left: 20px;
}